/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.4rem;
    font-weight: 400;
  }

  input {
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #4d5256;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }

  [type="number"] {
    -moz-appearance: textfield;
  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}